*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: ''
}
.cart-page{
    margin: 0 auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td img{
    width: 100px;
    height: 100px;
    padding-right: 10px;
    border-radius:5px 5px 5px 5px !important;
}

.cart-info{
    display: flex; 
    font-size: 0.9rem;
}

th{
    text-align: left;
    margin: 5px 10px;
    padding: 5px;
    font-weight:400;
    color: orangered;
    border-bottom: 2px solid lightpink;
}

tr{
    border-bottom: 1px solid lightpink;
}

td {
    text-align: left;
    margin: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px light-pink solid;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

.btn-danger{
    outline: none;
}

.btn-success{
    display: flex;
    align-self: center;
    margin: 40px auto;
    outline: none;
}

li a:link,
li a:visited,
li a:hover{
    text-decoration: none;
    color: #fff;
}


@media(max-width: 768px) {
    table{
        font-size: 0.7rem;
    }
    
    td img{
    width: 60px;
    height: 60px;
    padding-right: 10px;
}
    .cart-info{
        font-size: 0.6rem;
    }
    .cart-info .small-price{
        font-size: 0.6rem;
    }
    .btn-danger{
        padding:5px;
        font-size: 0.7rem;
    }
}