
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Poppins', sans-serif !important;
}
aside{
  background-color: hotpink;
  color: white;
  height: 100vh;
  width: 250px;
}
aside li{
  padding: 15px 1.5rem;
  cursor: pointer;
  margin: 5px 0;
  /* font-weight: 600; */
  font-size: larger;
  list-style-type: none;
}
aside ul{
  padding: 0;
  margin: 0;
}
aside li:hover{
  background-color: deeppink;
  color: white;
}
.active,.active:hover{
  background-color: white !important;
    color: hotpink !important;
}

li a:link,
li a:visited,
li a:hover{
    text-decoration: none;
    color: #fff;
}



@media (max-width: 768px) { 
  aside{
    width: 100px;
  }
  aside li{
    padding: 7px 0;
  }
  aside li span{
    display: none;
  }
 }
